<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock graph</title>
		<link rel="shortcut icon" href = "{{ url_for('static',filename='icon.ico') }}" >
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
		<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css" />
    	{{ script | safe }}
	</head>
	<body bgcolor="#eee">
		<div class=page>
  			<h1 align="center" color="#377BA8" size="28px">Visualization for {{ data | safe }}</h1>
  			<h2 align="center" color="#377BA8" size="20px"><a href="{{ url_for('index') }}">Go Back!</a></h2>
  			<p align="left">Hover over each line to see exact value.</h2>
  			{{ div | safe }}
		</div>
	</body>
</html>